<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="true"
         verbose="false"
         bootstrap="vendor/autoload.php"
>
    <php>
      <ini name="display_errors" value="on"/>
    </php>

    <testsuites>
        <testsuite name="services">
            <file>tests/unit/AssetsServiceProviderTest.php</file>
            <file>tests/unit/AssetsMinifyTest.php</file>
            <file>tests/unit/AssetsWebTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
      <blacklist>
        <directory>vendor</directory>
        <directory>tests</directory>
      </blacklist>
    </filter>

</phpunit>